<app-header titulo="Páginas de Check Box">
</app-header>

<ion-content>
    <!--
    <ion-item>
        <ion-checkbox name="option" value="option" slot="start"></ion-checkbox>
        <ion-label>I agree to the terms and conditions</ion-label>
    </ion-item>-->
<ion-label></ion-label>
    <ion-item>
        <ion-checkbox name="pessoa" (ionChange)="checkbox($event)" [(ngModel)]="itemSelecionado">
        </ion-checkbox>
        <ion-text class="ion-padding"> Marque a opção </ion-text>
    </ion-item>
    
    <ion-item>
        <ion-textarea [readonly]="true" value={{txtArea}}></ion-textarea>
    </ion-item>

    <ion-button (click)="enviar(pessoa)">Enviar</ion-button>

</ion-content>