<app-header titulo="Páginas de Cards">
</app-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title> Personagens do WOW. </ion-card-title>
      <ion-card-subtitle> Esses são uns personagens do WOW que gosto do design.</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>

        <ion-grid [fixed]="true">
          <ion-row>

            <ion-col>
              <ion-item>
                <ion-thumbnail slot="start">
                  <img alt="Synvanas Windrunner" 
                  src="https://cdn.mos.cms.futurecdn.net/eRbe5o672wKojHkcqfZ4Mc.jpg" />
                </ion-thumbnail>
                <ion-label>Sylvanas Windrunner</ion-label>
              </ion-item>
            </ion-col>

            <ion-col>

              <ion-item>
                <ion-thumbnail slot="start">
                  <img alt="Rexxar, Champion of the Horde"
                    src="https://i.pinimg.com/originals/22/f3/86/22f3863ec3f4c039d9447e3234badc4d.png" />
                </ion-thumbnail>
                <ion-label>Rexxar, Champion of the Horde</ion-label>
              </ion-item>

            </ion-col>

            <ion-col>

              <ion-item>
                <ion-thumbnail slot="start">
                  <img alt="Lich King Arthas"
                    src="https://static.wikia.nocookie.net/wowpedia/images/b/b0/WotLKArthasPose.jpg" />
                </ion-thumbnail>
                <ion-label>Lich King Arthas</ion-label>
              </ion-item>

            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>

              <ion-item>
                <ion-thumbnail slot="start">
                  <img alt="Nat Pagle"
                    src="https://i.pinimg.com/originals/65/0d/c1/650dc17df45372d337f6eece580fb463.jpg" />
                </ion-thumbnail>
                <ion-label>Nat Pagle</ion-label>
              </ion-item>

            </ion-col>

            <ion-col>
              <ion-item>
                <ion-thumbnail slot="start">
                  <img alt="Medivh"
                    src="https://static.wikia.nocookie.net/wowpedia/images/2/27/Medivh_Cropped.jpg" />
                </ion-thumbnail>
                <ion-label>Medivh</ion-label>
              </ion-item>
            </ion-col>

            <ion-col>
              <ion-item>
                <ion-thumbnail slot="start">
                  <img alt="Jaina Proudmoore"
                    src="https://cdna.artstation.com/p/assets/images/images/000/302/490/large/WoW_GR_Jaina2_Final_lowres.jpg?1416048384" />
                </ion-thumbnail>
                <ion-label>Jaina Proudmoore</ion-label>
              </ion-item>
            </ion-col>

          </ion-row>
        
        </ion-grid>






      </ion-list>
    </ion-card-content>

  </ion-card>

</ion-content>